.row-header{
    margin:1px auto;
    padding:0px auto;
    border-bottom:1pm ridge;

}
.row-content
{
    margin:0px auto;
    padding:50px 0.5px 50px 5px;
    border-bottom:1px ridge;
    min-height:100px;
}
.footer
{
    background-color:skyblue;
    margin: 0px auto;
    padding: 20px 0x 20px 0px;
}
.jumbotron
{
    padding: 70px 30px 70px 30px;
    margin:2px auto;
    background-color:sandybrown;
}
address
{
    font-size: 100%;
    margin:0px;
    color: #0f0f0f;

}